{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'foodlog/style.css' %}">
<h1>here are your foodlogs. you can create new logs at the bottom</h1>
{% if latest_foodlists %}
    

    <table>

    	<th>Date</th>
    	<th>Total Calories</th>
    	<th></th>

    
    {% for foodlist, totalCalories in latest_foodlists %}
	<tr>
        <td><a href="{% url 'foodlog:detail' foodlist.id %}">{{ foodlist.eat_date }}</a></td>

        <td>{{ totalCalories }}</td>

        <td>
        	<form action="{% url 'foodlog:foodlist_delete' foodlist.id %}" method="post">
    				{% csrf_token %}
    				<input type="submit" value="Delete entry">
			</form>		
		</td>
     </tr>   
    {% endfor %}
	

    </table>
    
{% else %}
    <p>No logs are available :(</p>

{% endif %}

<form action="/foodlog/index/" method="post">
    		{% csrf_token %}
    		<input type = "submit" name = "add" value = "Add">
    </form>


<form action="/foodlog/index/" method="post">
    	{% csrf_token %}
    	{{ form }}
    	<input type="submit" value="Submit">
	</form>